################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagerApi/obj
/TaskManagerApi/bin/Debug/net6.0
/TaskManagerApi/.vs
/TaskManagerApi.Tests/obj
/TaskManagerApi.Tests/bin/Debug/net6.0
